In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/clean_laptop_prices.csv")
df.head()

,Unnamed: 0,Company,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
0,0,1,4,13.3,23,65,8,4,58,8,38,71378.6832
1,1,1,4,13.3,1,63,8,2,51,8,35,47895.5232
2,2,7,3,15.6,8,74,8,16,53,4,74,30636.0000
3,3,1,4,15.4,25,85,1,29,9,8,71,135195.3360
4,4,1,4,13.3,23,67,8,16,59,8,38,96095.8080

In [4]:
X = df.drop("Price", axis=1)
y = df["Price"]

In [5]:
numerical_features = X.select_dtypes(include=["int64", "float64"]).columns
categorical_features = X.select_dtypes(include=["object"]).columns

numerical_features, categorical_features

(Index(['Unnamed: 0', 'Company', 'TypeName', 'Inches', 'ScreenResolution',
        'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight'],
       dtype='object'),
 Index([], dtype='object'))

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [7]:
num_pipeline = Pipeline([
    ("scaler", StandardScaler())
])

In [8]:
cat_pipeline = Pipeline([
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

In [9]:
preprocessor = ColumnTransformer([
    ("num", num_pipeline, numerical_features),
    ("cat", cat_pipeline, categorical_features)
])

In [10]:
import joblib

joblib.dump(preprocessor, "../models/preprocessor.pkl")

['../models/preprocessor.pkl']

In [11]:
X_transformed = preprocessor.fit_transform(X)
X_transformed.shape

(1303, 11)